.container {
  background: green;
  height: 20rem;
  width: 60rem;
}

.chips-stack {
  position: relative;
  height: 10rem;
}

.chip {
  position: absolute;
  left: calc(var(--x) * 1px);
  bottom: calc(var(--y) * 1px);
}

.action-buttons {
  button {
    font-size: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
  }
}
