.card {
  width: 14rem;
  aspect-ratio: 14 / 19.2;
  border-radius: 1rem;
  background-image: url('/assets/images/Card_BackFace.png');
  background-size: cover;
  padding: 1.2rem 1.75rem;

  &-content {
    position: relative;
    height: 100%;

    font-size: 2rem;
    color: #fff;
  }

  &-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;

    &:last-child {
      position: absolute;
      right: 0;
      bottom: 0;
      transform: rotate(180deg);
    }
  }
}
