:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.chips-stack {
  position: relative;
  height: 10rem;
}

.chip {
  position: absolute;
  left: calc(var(--x) * 1px);
  bottom: calc(var(--y) * 1px);
}

.controls {
  margin-top: var(--space-6);

  .user-bid {
    text-align: center;
    color: #fff;
    font-size: var(--text-lg);
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    gap: var(--space-4);
    margin-top: var(--space-4);
  }

  .action-btn {
    font-size: var(--text-lg);
    padding: var(--space-4) var(--space-8);
    cursor: pointer;

    &:disabled {
      opacity: 1;
      background: gray;
    }
  }
}
