<div class="chips-stack">
  @for(chip of chips(); track `${$index}-${chip}`){
  <app-chip
    class="chip"
    [style.--x]="chip.posX"
    [style.--y]="chip.posY"
    [value]="chip.label"
    [hoverEffect]="false"
  />
  } @empty{
  <h3>Select Bid</h3>
  }
</div>

<section class="controls">
  <p class="user-bid">{{ chipsSum() | currency : 'USD' : 'symbol' : '1.0-0' }}</p>

  <div class="action-buttons">
    <button class="action-btn" type="button" (click)="clearChips()">Clear</button>
    <button class="action-btn" type="button" [disabled]="!chips().length" (click)="startGame()">
      Accept
    </button>
  </div>
</section>
