.table {
  padding-block: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  width: 60%;
  height: 100%;
}

.cards {
  display: flex;
  gap: 1rem;
  position: relative;

  &.dealer-cards {
    .values-sum-container {
      top: 0;
      transform: translate(-50%, -50%);
    }
  }

  &.player-cards {
    .values-sum-container {
      bottom: 0;
      transform: translate(-50%, 50%);
    }
  }

  .values-sum-container {
    position: absolute;

    left: 50%;

    background: #fff;
    border: 5px solid gray;
    width: 4.5rem;
    aspect-ratio: 1;
    border-radius: 100vmax;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
  }
}
