<button type="button" (click)="startGame()">Start</button>
<footer>
  <div class="container">
    <!-- <button class="action-button" type="button">Stand</button>
    <button class="action-button" type="button">Split</button>
    <button class="action-button" type="button">Double</button>
    <button class="action-button" type="button" (click)="hit()">Hit</button> -->

    @for(chip of chips(); track $index){

    <button type="button" class="chips">{{ chip }}</button>
    }
  </div>
</footer>

<!-- <div>
  <button type="button" (click)="service.startGame()">Start Game</button>
</div>


<br /><br /><br />

<div>
  @for(card of dealerCards(); track $index){
  <p [style.color]="card.suit === 'Hearts' || card.suit === 'Diamonds' ? 'red' : 'black'">
    {{ card.suit }} - {{ card.rank }}
  </p>
  }

  <b>{{ dealerSum() }}</b>

  <hr />

  @for(card of playerCards(); track $index){
  <p [style.color]="card.suit === 'Hearts' || card.suit === 'Diamonds' ? 'red' : 'black'">
    {{ card.suit }} - {{ card.rank }}
  </p>
  }

  <b>{{ playerSum() }}</b>
</div>

@if(gameInProgress()){
<div class="action-buttons-container">
  <button type="button" (click)="service.stand()">Stand</button>
  <button type="button">Split</button>
  <button type="button">Double</button>
  <button type="button" [disabled]="playerSum() >= 21" (click)="service.playerHit()">Hit</button>
</div>
}

<hr />

<br /><br />

@if(!gameInProgress()){

<div>
  @for(bet of bets(); track $index){
  <button type="button" (click)="service.selectBet(bet)" [disabled]="bet > service.playerMoney()">
    {{ bet }}
  </button>
  }
</div>

<p>Selected bet: {{ selectedBet() }}</p>
} -->
