.action-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;

  button {
    width: 20%;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    background: rgb(228, 190, 109);
    cursor: pointer;

    &:hover {
      background: rgb(196, 163, 93);
    }
  }
}
