.cards {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;

  position: relative;

  &.dealer-cards {
    .values-sum-container {
      top: 0;
      transform: translate(-50%, -50%);
    }
  }

  &.player-cards {
    .values-sum-container {
      bottom: 0;
      transform: translate(-50%, 50%);
    }
  }

  .values-sum-container {
    position: absolute;

    left: 50%;

    background: #fff;
    border: 5px solid gray;
    width: 4.5rem;
    aspect-ratio: 1;
    border-radius: 100vmax;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
  }
}
