.shell {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.container {
  background: red;
  width: 30%;
  padding: 1rem;
  text-align: center;
  font-size: 2rem;
}
