$width: 16rem;

:host {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-rows: 1fr 1fr;
}

.cards {
  display: flex;
  align-items: center;
  gap: 2rem;

  position: relative;

  width: calc(var(--width) * 1rem);
  margin-inline: auto;

  &-dealer {
    .values-sum-container {
      top: 0;
      transform: translate(-50%, -50%);
    }
  }

  &-player {
    .values-sum-container {
      bottom: 0;
      transform: translate(-50%, 50%);
    }
  }

  .values-sum-container {
    position: absolute;
    z-index: 2;

    left: 50%;

    background: #fff;
    border: 5px solid gray;
    width: 6rem;
    height: 4rem;
    border-radius: 100vmax;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
  }
}

.card {
  position: absolute;
  z-index: 1;
  left: calc(var(--x) * 1px);
}
