$size: 6rem;
$green-primary: rgb(100, 150, 100);
$green-secondary: rgb(60, 90, 60);

.table-surface {
  perspective: 800px;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.chip {
  background: radial-gradient(circle at 30% 30%, $green-primary, $green-secondary);

  width: $size;
  aspect-ratio: 1;
  border-radius: 100vmax;

  color: #fff;
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  border: 10px solid rgba(255, 255, 255, 0.7);
  outline: 6px dashed rgb(60, 90, 60);
  outline-offset: -6px;

  transform: rotateX(45deg);
  transform-style: preserve-3d;

  transform: rotateX(40deg);
  box-shadow: 0 8px 0 rgb(30, 50, 30), 0 20px 20px rgba(0, 0, 0, 0.4);

  transition: all 0.3s;

  &:hover {
    transform: rotateX(45deg) translateY(-10px);
    box-shadow: 0 10px 0 rgb(30, 50, 30), 0 40px 40px rgba(0, 0, 0, 0.4);
  }
}
